.button-wrap {
  position: relative;
  text-align: center;
}
@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}

.button-label {
  display: inline-block;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #f6f6f6;
  /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);*/
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#state-label {
  margin: 0 3%;
}

.button-label h1 {
  font-size: 1em;
  font-family: sans-serif;
  margin: 1.5em 0;
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);*/
}
.button-label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

.radio-label:checked + .button-label {
  background: #4183D7;
  color: #efefef;
}
.radio-label:checked + .button-label:hover {
  background: #2c75d2;
  color: #e2e2e2;
}

.legend-wrap {
	display: flex;
	width: 100%;
}

.legend {
	flex: 1;
	background-color: #abc;
}

.agibtn-wrap {
	flex: 3;
	display: flex;
	justify-content: space-around;
}

.hidden {
  display: none;
}

.agibtn-label {
	margin: 0;
	border-radius: 0;
	padding: auto;
}
