body {
	transition: 0.3s;
}

/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.navbar-title {
	color: #fff;
}

.content-row {
	margin-top: 50px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	position: static;
	background-color: #ECF0F1;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.nav-number {
	margin-bottom: 20px;
	border: none;
}

.bootstrap-select .dropdown-menu {
  max-width: 100%;
  white-space: wrap;
}

#btnSignUp {
	background: #4183D7;
	border: none;
	transition: 0.3s;
	color: #fff;
}

#btnSignUp:hover {
	background: #2c75d2;
	color: #e2e2e2;
}

#loader {
  border: 10px solid #e2e2e7;
  border-radius: 50%;
  border-top: 10px solid #4183D7;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: block;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*
 * Main content
 */

.main {
	padding: 20px;
	min-width: 500px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}

.bs-callout {
    margin: 20px 40px 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #777;
    color: #777;
}

.description {
	font-family: 'Josefin Slab', serif;
	font-size: 1.8em;
	position: absolute;
	background-color: #fff;
	opacity: 0.8;
	z-index: 5;
}

.description p {
	margin: 20px;
}

#collapse {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	font-family: sans-serif;
	color: #777;
}

#collapse:hover {
	text-decoration: none;
	cursor: pointer;
}

#map {
	width: calc(100% - 80px);
	z-index: 1;
	position: absolute;
}

#doughnutchart {
	z-index: 2;
	position: absolute;
	pointer-events: none;
}

#myChart {
	pointer-events: none;
	/*background-color: rgba(180, 200, 220, 0.4);*/
}

.spacer {
	width: 100%;
	padding-top: 60.7%;
	/*background-color: #abc;*/
}
