body {
  padding: 0px 3%;
  font-family: sans-serif;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  width: 100%;
  margin-bottom: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#btnSignUp {
  border-radius: 0px;
  background-color: #0052A5;
  color: #fff;
  padding: 10px 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
}

#wholestate {
  border-radius: 0px;
}

.content {
  float: left;
  height: auto;
}

.inline-field input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle; 
  max-width: 85%;
}

.inline-field input {
  max-width: 10%;
}

#formdiv {
  width: calc(30% - 25px);
  margin-right: 25px;
}
#mapdiv {
  width: 68%;
}
#summarydiv {
  width: 98%;
  margin: 25px auto;
}
#fielddatadiv {
  width: 98%;
  margin: 25px auto;
}

table {
  float: right;
  width: 100%;
  font-family: 'Arial';
  border-collapse: collapse;
  border-bottom: 2px solid #0052A5;
}

tr:hover {
  background: #f4f4f4;
}

tr {
  td {
	color: #555;
  }
}

th, td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px;
  border-collapse: collapse;
  text-align: center;
}

th {
  background: #0052A5;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  &.last {
    border-right: none;
  }
}

table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #0052A5;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: block;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* anything small */
@media screen and (max-width: 700px) {
	
	.content {
        display: block;
        height: auto;
        /*margin-bottom: 5vw;*/
    }
    #formdiv {
	  width: 100%;
	}
	#summarydiv {
	  width: 100%;
	}
	#fielddatadiv {
	  width: 100%;
	}
}